/* Usando o data-testid que é imune às atualizações do Streamlit */
[data-testid="stAppViewContainer"] > section {
    background-color: #d5d1d1;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 0px 26px rgba(222, 19, 5, 0.942);
}